<%= form_with(model: station, local: true) do |form| %>
  <% if station.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(station.errors.count, "error") %> prohibited this station from being saved:</h2>

      <ul>
      <% station.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :station_name %>
  </div>

  <div class="field">
    <%= form.label :city_id %>
    <%= form.text_field :city_id, id: :station_city_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
