<%= simple_form_for(@route) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :city_start %>
    <%= f.association :station_start %>
    <%= f.input :date_start %>
    <%= f.association :city_end %>
    <%= f.association :station_end %>
    <%= f.input :date_end %>
    <%= f.association :carrier %>
    <%= f.input :cost, as: :decimal %>
    <%= f.input :currency, as: :select, collection: Rails.configuration.currency.keys %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
