<p id="notice"><%= notice %></p>

<h1>Routes</h1>

<%= render 'search_form' %>

<div id='dynamic'>

  <table class="table">
    <thead>
      <tr>
        <th>City start - Station start</th>
        <th>Date start</th>
        <th>City end - Station end </th>
        <th>Date end</th>
        <th>Carrier</th>
        <th>Cost</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @routes.each do |route| %>
        <tr>
          <td><%= route.city_start %> (<%= route.city_start_id %>) <br /> <%= route.station_start %> (<%= route.station_start_id %>)</td>
          <td><%= l(route.date_start, format: :short) %></td>
          <td><%= route.city_end %> (<%= route.city_end_id %>) <br /> <%= route.station_end %> (<%= route.station_end_id %>)</td>
          <td><%= l(route.date_end, format: :short) %></td>
          <td><%= route.carrier %> (<%= route.carrier_id || "Не указан" %>)</td>
          <td><%= number_to_currency(route.cost, unit: route.currency, format: "%n %u" ) %></td>
          <td>
            <%= link_to 'Show', route %> <br>
            <%= link_to 'Edit', edit_route_path(route) %> <br>
            <%= link_to 'Destroy', route, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @routes, remote: true %>

  <br>

  <%= link_to 'New Route', new_route_path %>

</div>
