<p id="notice"><%= notice %></p>

<p>
  <strong>City start:</strong>
  <%= @route.city_start %>
</p>

<p>
  <strong>Station start:</strong>
  <%= @route.station_start %>
</p>

<p>
  <strong>Date start:</strong>
  <%= @route.date_start %>
</p>

<p>
  <strong>City end:</strong>
  <%= @route.city_end %>
</p>

<p>
  <strong>Station end:</strong>
  <%= @route.station_end %>
</p>

<p>
  <strong>Date end:</strong>
  <%= @route.date_end %>
</p>

<p>
  <strong>Carrier:</strong>
  <%= @route.carrier %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @route.cost %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @route.currency %>
</p>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
